*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 15px 0px;
    background-color: rgb(97, 203, 203);
}

.container{
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.c-left-head{
    width: 30%;
}

.c-mid-head{
    width: 40%;
}

.c-right-head{
    width: 30%;
}

.content{
    border: 1px dotted black;
}

/* fine header */


.container-first-full{
    width: 600px;
    margin: 0 auto;
    /* display: flex;  */
}

.c-full{
    width: 100%;
}

.first-full-content{
    height: 200px;
    border: 1px dotted black;
}

.c-right-main{
    width: 40%;
}

.c-left-main{
    width: 60%;
}

/* fine main */

.c-foot-left{
    width: 40%;
}

.c-foot-right{
    width: 15%;
}

.content-foot{
    border: 1px dotted white;
}

.third-full-content{
    border: 1px solid black;
}

.last-content{
    border: 1px dotted black;
}


/* utilities */

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.bg-goldenrog{
    background-color: goldenrod;
}

.bg-lightpurple{
    background-color: rgb(255, 21, 193);
}

.bg-blue{
    background-color: blue;
}

.bg-lightblue{
    background-color: rgb(74, 91, 242);
}

.bg-pink{
    background-color: pink;
}

.bg-grey{
    background-color: rgb(150, 150, 150);
}

.bg-green{
    background-color: green;
}

.bg-black{
    background-color: rgb(22, 22, 22);
}

.bg-acqua{
    background-color: aqua;
}

.pd-20{
    padding: 20px;
}

.pd-5{
    padding: 5px;
}

.pdt-5{
    padding-top: 5px;
}

.pdb-20{
    padding-bottom: 15px;
}

.pdl-20{
    padding-left: 20px;
}

.pdr-20{
    padding-right: 20px;
}

.pd-last-footer{
    padding: 0 7px 0 7px;
}

.pd-last-container{
    padding: 20px 20px 0 20px;
}

.hg-250{
    height: 250px;
}

.hg-400{
    height: 400px;
}

.hg-50{
    height: 50px;
}


