*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 15px 0px;
    background-color: rgb(97, 203, 203);
}

.container{
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.c-left-head{
    width: 30%;
}

.c-mid-head{
    width: 40%;
}

.c-right-head{
    width: 30%;
}

.content{
    padding: 5px;
    border: 1px dotted black;
}

/* fine header */


.container-first-full{
    width: 600px;
    margin: 0 auto;
    /* display: flex;  */
}

.c-full{
    width: 100%;
}

.first-full-content{
    height: 200px;
    border: 1px dotted black;
}

.c-right-main{
    width: 40%;
}

.c-left-main{
    width: 60%;
}

/* utilities */

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.bg-goldenrog{
    background-color: goldenrod;
}

.bg-lightpurple{
    background-color: rgb(255, 21, 193);
}

.bg-blue{
    background-color: blue;
}

.bg-lightblue{
    background-color: rgb(74, 91, 242);
}

.bg-pink{
    background-color: pink;
}

.bg-grey{
    background-color: rgb(150, 150, 150);
}

.pd-20{
    padding: 20px;
}

.hg-250{
    height: 250px;
}